/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
	/* colors */
	--clr-blue-700: hsl(217, 97%, 15%);
	--clr-blue-500: hsl(217, 97%, 30%);
	--clr-blue-200: hsl(176, 66%, 30%);
	--clr-blue-100: hsl(217, 100%, 97%);
	--clr-neutral-300: hsl(0, 0%, 14%);

	--clr-white: hsl(0, 0%, 100%);

	/* font-families */
	--ff-sans: Montserrat, sans-serif;
	--ff-mono: Consolas, "courier new";
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--ff-sans);
	line-height: 1.5;
	margin: 0;
	color: var(--clr-neutral-300);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
	 scroll-behavior: auto;
	}
	
	*,
	*::before,
	*::after {
	  animation-duration: 0.01ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.01ms !important;
	  scroll-behavior: auto !important;
	}
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.container {
	margin: 0 auto;
	width: 85%;
	max-width: 1140px;
	padding: 10% 0;
}

/* ------------------- */
/* Components          */
/* ------------------- */

.btn {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding: .25em .75em;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	background-color: rgba(0,0,0,0);
	border: 1px solid black;
	font-size: 1.2rem;
	font-weight: 700;
}

.btn-dark {
	border: 2px solid var(--clr-blue-200);
	color: var(--clr-blue-200);
}

.btn-light {
	border: 2px solid var(--clr-white);
	margin-right: 1rem;
}

/* ------------------- */
/* General             */
/* ------------------- */

h1 {
	font-size: 2rem;
	margin-top: 1rem;
}

h2 {
	text-transform: uppercase;
	margin-bottom: 3rem;
}

h3 {
	font-size: 1.25rem;
}

#hero {
	background-image: linear-gradient(var(--clr-blue-100), var(--clr-white));
}

.intro-em {
	background-color: var(--clr-blue-500);
	background-image: linear-gradient(135deg, var(--clr-blue-500), var(--clr-blue-200));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.profile-img {
	border-radius: 200px;
	margin: 0 auto;
	width: 75%;
	max-width: 250px;
	box-shadow: 0 .5em 1em rgba(0,0,0,.50);
}

.projects {
	background-color: var(--clr-blue-500);
	background-image: linear-gradient(135deg, var(--clr-blue-500), var(--clr-neutral-300) 75%);
	color: var(--clr-white);
}

.source-link {
	font-family: var(--ff-mono);
	font-size: 1.1rem;
}

.source-link a {
	display: inline-block;
	color: var(--clr-white);
	transition: all .2s ease-in
}

.source-link a:hover, .source-link a:focus {
	transform: translateX(2px)
}   

.project {
	padding-bottom: 3rem;
}

.project-link {
	transition: transform ease-in .2s, opacity .2s;
}

.project-link:hover, .project-link:focus {
	transform: scale(1.01);
	opacity: .90;
}

.project-img {
	border: 1px solid #d2d2d2;
	border-radius: .25rem;
}

.tech {
	margin-bottom: 0;
}

.contact p {
	margin: .5rem 0;
	font-size: 1.2rem;
	line-height: 1.5;
}

.contact-container {
	padding: 6% 0;
}

footer {
	background-color: var(--clr-neutral-300);
	color: var(--clr-white);
	text-align: center;
}

.footer-container {
	padding: 3rem 0;
	background-color: var(--clr-neutral-300);
	color: var(--clr-white);
	text-align: center;
}

.social a {
	display: inline-block;
	transition: all .2s ease-in;
}

.social a:hover, .social a:focus {
	transform: translateY(-2px);
}   

.to-top {
	margin-bottom: 1.5rem;
}

.social .fa {
	font-size: 2rem;
	margin: 1.25rem;
}

footer hr {
	margin-top: 1rem;
	width: 50%;
	color: #aaa;
}

footer p {
	font-size: .75rem;
	color: #aaa;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 2.4rem;
	}

	h2 {
		text-align: center;
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.2rem;
	}
	
	.row {
		display: flex;
	}

	.btn {
		transition: -webkit-text-fill-color ease-in .5s, background-color ease-in .5s;
	}

	.btn-dark {
		background-image: linear-gradient(135deg, var(--clr-blue-500), var(--clr-blue-200));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-o-border-image: linear-gradient(135deg,#0244b0,#00cdac);
		   border-image: linear-gradient(135deg,#0244b0,#00cdac);
    	border-image-slice: 1;
	}

	.btn-dark:hover, .btn-dark:focus {
		-webkit-text-fill-color: var(--clr-white);
		background-clip: border-box;
	}

	.btn-light:hover, .btn-light:focus {
		-webkit-text-fill-color: var(--clr-blue-200);
		background-color: var(--clr-white);
	}

	#hero .container {
		padding-bottom: 6%;
	}

	.profile-img {
		width: 40%;
		height: 100%;
		margin-right: 2rem;
	}

	.profile-text {
		width: 60%;
	}

	.projects {
		clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0 100%);
	}

	.project {
		align-items: center;
	}

	.project-text {
		width: 40%;
		margin-right: 2rem;
	}

	.contact {
		text-align: center;
	}

	.contact-container {
		padding: 4% 0;
	}
}

@media screen and (min-width: 921px) {
	h1 {
		font-size: 3rem;
	}
}


.slide-right {
  -webkit-animation: 1s slide-right;
          animation: 1s slide-right;
}

@-webkit-keyframes slide-right {
    0% {
		opacity: 0;
		-webkit-transform: translateX(-20%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
  }

@keyframes slide-right {
    0% {
		opacity: 0;
		-webkit-transform: translateX(-20%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
  }

.slide-left {
	-webkit-animation: 1.5s slide-left;
	        animation: 1.5s slide-left;
  }
  
@-webkit-keyframes slide-left {
    0% {
		opacity: 0;
		-webkit-transform: translateX(20%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
  
@keyframes slide-left {
    0% {
		opacity: 0;
		-webkit-transform: translateX(20%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}