nav {
	width: 100%;
	background-color: rgba(2, 2, 2, 0.25);
	font: 20px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#nav-links {
	list-style: none;
	display: flex;
	margin: 0px;
	padding: 16px;
}

.nav-item a {
	text-decoration: none;
	padding: 10px 15px;
	color: white;
}

body {
	background: #113 url("images/bg3.jpg") no-repeat fixed center center / cover;
	margin: 0;
}

main {

}

#home {
	text-align: center;
	height: 450px;
}

.white-text {
	text-shadow: 2px 2px #000;
	color: #eee;
}

h1 {
	font: 60px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-bottom: 10px;
}

h3 {
	font: 36px Candara, sans-serif;
}

p {
	font-size: 20px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

#about-flex {
	flex-direction: row-reverse;
	justify-content: center;
}

#about {
	max-width: 1000px;
	margin: auto;
	margin-bottom: 100px;
	background-color: rgba(255,235,205, 0.95);
	padding: 6%;
	border-radius: 3px;
}

#profile-pic {
	border-radius: 50%;
}

#about-me {
	max-width: 500px;
}

#portfolio {
	max-width: 1200px;
	margin: auto;
	text-align: center;
}

#portfolio-flex {
	justify-content: space-around;
}

.card {
	background-color: white;
	border: 1px solid gray;
	border-radius: 12px;
	margin: 16px 0px;
}

.card a {
	text-decoration: none;
}

.thumbnail {
	width: 320px; 
	height: 240px;
	padding: 16px;
	border-radius: 12px;
}

.thumbnail h3 {
	margin-top: 31%;
	background-color: rgba(255,255,255,0.6);
    	text-shadow: 1px 1px 1px black;
}


/* WAVES */
.surf {
  background: linear-gradient(rgba(173,216,230,0), #025a72);
  height: 250px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  position: relative;
  top: 40px;
  height: 300px;
  background-image: url("images/wave3.svg");
  animation: slide 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
}

.wave:nth-of-type(2) {
  top: -240px;
  animation: slide 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 4s ease -1.25s infinite;
  opacity: 1;
}

@keyframes slide {
   0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-45px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
/* END WAVES */

#contact-flex {
	justify-content: space-evenly;
}

#contact {
	height: 240px;
	background-color: #025a72;
	text-align: center;
}

.btn {
  	background-color: #e7e7e7; 
  	border: none;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	box-shadow: 2px 2px #000;
}

.btn:hover {
	background-color: #777777;
}

#find-me {
	width: 322px;
}

.fa {
	padding: 8px;
	font-size: 40px;
	color: white;
}

.fa:hover {
	color: #777777;
}

footer {
	background-color: #025a72;
	color: #ddd;
	padding: 8px;
}
