:root {
	--clr-blue-500: #0244b0;
	--clr-blue-200: #1a7f79;
	--clr-neutral-300: #333;
}

*,
::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Montserrat,sans-serif;
	margin: 0;
	color: var(--clr-neutral-300);
}

h1 {
	font-size: 2rem;
	line-height: 1.4;
}

h2 {
	text-transform: uppercase;
	margin-bottom: 3rem;
}

h3 {
	font-size: 1.25rem;
}

.intro-em {
	background-color: var(--clr-blue-500);
	background-image: linear-gradient(135deg, var(--clr-blue-500), var(--clr-blue-200));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.container {
	margin: 0 auto;
	width: 85%;
	max-width: 1140px;
	padding: 10% 0;
}

img {
	width: 100%;
}

.btn {
	padding: .25em .75em;
	margin: 1.5rem 1rem 1.5rem 0;
	background-color: rgba(0,0,0,0);
	border: 1px solid black;
	font-size: 1.2rem;
	font-weight: 700;
}

.btn a {
	text-decoration: none;
}

.btn-dark {
	border: 2px solid var(--clr-blue-200);
}

.btn-dark a {
	color: var(--clr-blue-200);
}

.btn-light {
	border: 2px solid #fff;
}

.btn-light a {
	color: #fff;
}

.profile-img {
	border-radius: 200px;
	display: block;
	margin: 0 auto;
	width: 75%;
	max-width: 300px;
	box-shadow: 0 .5em 1em rgba(0,0,0,.50);
}

.projects {
	background-color: var(--clr-blue-500);
	background-image: linear-gradient(135deg, var(--clr-blue-500), var(--clr-blue-200));
	color: #fff;
}

.source-link a {
	display: inline-block;
	color: #fff;
	transition:all .2s ease-in
}

.source-link a:hover {
	transform:translateX(2px)
}   

.project {
	padding-bottom: 3rem;
}

.project-img {
	border: 1px solid #d2d2d2;
	border-radius: .25rem;
}

.project-img:hover {
	opacity: .75;
}

.tech {
	margin-bottom: 0;
}

.contact p {
	margin: .5rem 0;
	font-size: 1.2rem;
	line-height: 1.5;
}

.contact-container {
	padding: 6% 0;
}

footer {
	background-color: var(--clr-neutral-300);
	color: #fff;
	text-align: center;
}

.footer-container {
	padding: 3rem 0;
	background-color: var(--clr-neutral-300);
	color: #fff;
	text-align: center;
}

i {
	transition:all .2s ease-in;
}

i:hover {
	transform:translateY(-2px);
}   

.to-top {
	margin-bottom: 1.5rem;
}

.social .fa {
	font-size: 2rem;
	margin: 1.25rem;
}

footer hr {
	margin-top: 1rem;
	width: 50%;
	color: #aaa;
}

footer p {
	font-size: .75rem;
	color: #aaa;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 2.4rem;
	}

	h2 {
		text-align: center;
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}
	
	.row {
		display: flex;
	}

	.btn {
		transition: ease-in .5s;
	}

	.btn-dark {
		background-image: linear-gradient(135deg, var(--clr-blue-500), var(--clr-blue-200));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-o-border-image: linear-gradient(135deg,#0244b0,#00cdac);
		   border-image: linear-gradient(135deg,#0244b0,#00cdac);
    	border-image-slice: 1;
	}

	.btn-dark a {
		color: var(--clr-blue-200);
	}

	.btn-dark:hover {
		-webkit-text-fill-color: #fff;
		background-clip: border-box;
	}

	.btn-light:hover {
		-webkit-text-fill-color: var(--clr-blue-200);
		background-color: #fff;
	}

	#hero .container {
		padding-bottom: 6%;
	}

	.profile-img {
		width: 40%;
		height: 100%;
		margin-right: 2rem;
	}

	.profile-text {
		width: 60%;
	}

	.projects {
		clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0 100%);
	}

	.project {
		align-items: center;
	}

	.project-text {
		width: 40%;
		margin-right: 2rem;
	}

	.contact {
		text-align: center;
	}

	.contact-container {
		padding: 4% 0;
	}
}

@media screen and (min-width: 921px) {
	h1 {
		font-size: 3rem;
	}
}


.slide-right {
  -webkit-animation: 1s slide-right;
          animation: 1s slide-right;
}

@-webkit-keyframes slide-right {
    0% {
		opacity: 0;
		-webkit-transform: translateX(-20%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
  }

@keyframes slide-right {
    0% {
		opacity: 0;
		-webkit-transform: translateX(-20%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
  }

.slide-left {
	-webkit-animation: 1.5s slide-left;
	        animation: 1.5s slide-left;
  }
  
@-webkit-keyframes slide-left {
    0% {
		opacity: 0;
		-webkit-transform: translateX(20%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
  
@keyframes slide-left {
    0% {
		opacity: 0;
		-webkit-transform: translateX(20%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}